%body
  .container
    .top-bar.front-page
      .logo
        %a{:href => root_path}
          %img{:src => '/assets/logo-large.png'}
      .search-area
        = form_tag tracks_path, :method => 'get' do
          %p
          - if params[:search]
            = text_field_tag :search, nil, :value => params[:search], :class => "search-box"
          - else
            = text_field_tag :search, nil, :placeholder => "enter a genre e.g. dubstep, electro, house", :class => "search-box"
          %p
            = submit_tag "Search", :name => nil, :class => "btn btn-success search-button btn-large"
      %p.lead
        Listen to popular tracks from around the globe.
      .powered
        %a{:href => "http://soundcloud.com", :target => "_blank"}
          %img{:src => "/assets/powered.png"}
