.footer.row
  .footer-nav.span6
    %p
      © 2013 On A Cloud
  .footer-info.span6
    %p
      Developed by
      %a{:href => 'http://au.linkedin.com/in/stasbelkov', :target => '_blank'}
        Stas Belkov
