%audio{:preload => ""}
.playerbar-2.row
  .t-title.span10
    .i-track-title
    .i-count-container
      .i-play-count
    .i-time-container
      .i-time-ago
  .player-controls.span2
    %a{:href => "#", :class => "previous"}
      %img{:src => "/assets/previous.png"}
    %a{:href => "#", :class => "next"}
      %img{:src => "/assets/next.png"}
